*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url("../img/bg.jpg");
    position: relative;
    text-align: center;
}
@font-face{
    font-family: MyIcon;
    src: url("../font/glyphicons-halflings-regular.woff2");
}
.header{
    width: 100%;
    height: 50px;
    background-color: #333;
}
.container{
    position: relative;
    width: 1170px;
    height: 50px;
    margin: 0 auto;
    /* background-color: pink; */
}
.title{
    float: left;
    color: #eee;
    line-height: 50px;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}
.menu{
    float: left;
}
.menu>li{
    float: left;
    height: 50px;
    width: 58px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
.menu>li>a{
    text-decoration: none;
    color: #eee;
}
.search-bar>input{
    display: inline-block;
    position: absolute;
    height: 22px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 8px;
    top: 50%;
    outline: none;
    margin-top: -18px;
    right: 60px;
}
.search-bar>button{
    display: inline-block;
    position: absolute;
    width: 54px;
    height: 34px;
    padding: 5px 10px;
    border-radius: 8px;
    top: 50%;
    margin-top: -18px;
    color: #555;
    right: 0px;
    outline: none;
}

.content{
    display: inline-block;
    position: relative;
    width: 1170px;
    margin: 30px auto 0px auto;
}

.content_left{
    float: left;
    width: 66%;
    padding: 0 20px 0 0;
    box-sizing: border-box;
}
.content_right{
    float: right;
    width: 34%;
    padding: 0;
    box-sizing: border-box;

}

.right_module{
    display: inline-block;
    width: 100%;
    background-color: #1f1f1f;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    padding: 0 15px;
    margin-bottom: 20px;
}
.tags{
    padding: 0 15px 25px;
}
.right_module>div{
    display: block;
    text-align: left;
    font-size: 14px;
    padding: 15px 5px 15px 0;
    color: dodgerblue;
}
.right_module>a{
    display: inline-block;
    font-size: 14px;
    color: dodgerblue;
    margin-right: 5px;
    text-decoration: none;
}
.right_module>ul>li{
    padding: 8px 0;
    border-bottom: 1px solid #292929;
}
.right_module>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.right_module>ul>li>a:hover{
    color: #337ab7;
}
.right_module>ul>div{
    padding: 5px 0px;
}
.right_module>ul>div>span{
    color: #fff;
    font-size: 14px;
}
.right_module>ul>div>p{
    color: #777;
    font-size: 14px;
}
.pull_right{
    position: absolute;
    right: 15px;
}
.right_module>span{
    display: inline-block;
    width: calc(50% - 15px);
    height: 30px;
    margin-top: 10px;
    border-bottom: 1px solid #292929;
}
.right_module>span>a{
    color: #fff;
    text-decoration: none;
}
.right_module>span>a:hover{
    color: #337ab7;
}