<!--
 * @Descripttion: 
 * @version: 
 * @Author: WangQing
 * @email: 2749374330@qq.com
 * @Date: 2019-12-19 13:32:46
 * @LastEditors  : WangQing
 * @LastEditTime : 2020-01-13 19:47:53
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="shortcut icon" href="./img/favicon.ico">
     <title>个人博客</title>
     <link rel="stylesheet" href="./css/base.css">
     <link rel="stylesheet" href="./css/blog_detail.css">
     <link rel="stylesheet" href="./css/comments.css">
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
 </head>
 <body>
     <header class="header">
         <div class="container">
             <a href="/" class="title">汪清的个人博客|技术博客</a>
             <ul class="menu">
                 <li><a href="/">首页</a></li>
                 <li><a href="./sitemap.html">地图</a></li>
                 <li><a href="./guestbook.html">关于</a></li>
                 <li><a href="./about.html">留言</a></li>
             </ul>
             <div class="search-bar">
                 <input type="text" placeholder="输入关键词查找">
                 <button>搜索</button>
             </div>
         </div>
     </header>
     <div class="content">
         <div class="content_left">
            <div class="blog" id="blog_detail">
                <div class="blog_title">{{title}}</div>
                <div class="blog_msg">作者：汪清 标签：{{tags}} 发布于：{{ctime}} 浏览：{{views}}</div>
                <div class="blog_content" v-html="content"></div>
            </div>
            <div class="blog_comments" id="blog_comments">
                <div class="blog_comments_msg">关于：目前有68 条留言</div>
                <div class="blog_comment">
                    <span><b>cjh333</b>: 发表于 2019年12月18日 21:53[回复]</span>
                    <div>dafjkldjafflkkfjdlak</div>
                </div>
                <div class="blog_comment">
                    <span><b>cjh333</b>: 发表于 2019年12月18日 21:53[回复]</span>
                    <div>dafjkldjafflkkfjdlak</div>
                </div>
                <div class="blog_comment">
                    <span><b>cjh333</b>: 发表于 2019年12月18日 21:53[回复]</span>
                    <div>dafjkldjafflkkfjdlak</div>
                </div>
                <div class="addComment" id="addComment">
                    <p>发表评论</p>
                    <input type="hidden" v-model="commentId">
                    <input type="text" placeholder="昵称" v-model="name"/>
                    <input type="text" placeholder="邮箱" v-model="email"/>
                    <textarea placeholder="无意义的内容我可能不会回复你" v-model="comment"></textarea>
                    <input type="text" placeholder="请在这里输入验证码" v-model="inputRandomCode"><span v-html="randomSvg" @click="changeCode"></span>
                    <button @click="sendComment">提交留言</button>
                </div>
            </div>
         </div>
         <div class="content_right">
            <div class="right_module tags" id="random_tags">
                <div>随机标签云</div>
                <a href="/" v-for="tag in tags" :style="{color: randomColor(),fontSize: randomSize()}">{{tag}}</a>
            </div>
            <div class="right_module" id="new_hot">
                <div>最近热门</div>
                <ul v-for="hot in hots">
                    <li><a :href="hot.link">{{hot.title}}</a></li>
                </ul>
            </div>
            <div class="right_module" id="new_comments">
                <div>最新评论</div>
                <ul>
                    <li v-for="comment in comments">
                        <div>
                            <span>{{comment.name}}</span>
                            <span class="pull_right">{{comment.date}}</span>
                            <p>{{comment.content}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right_module">
                <div>友情链接</div>
                <span><a href="/">fubolisiji</a></span>
                <span><a href="/">fubolisiji</a></span>
                <span><a href="/">fubolisiji</a></span>
                <span><a href="/">fubolisiji</a></span>
            </div>
        </div>
     </div> 
     <footer class="footer">
         <ul>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
             <li><a href="">C/C++</a></li>
         </ul>
         <p>Copyright © 2010-2019 ...</p>
     </footer>
     <script src="./js/axios.min.js"></script>
     <script src="./js/base.js"></script>
     <script src="./js/blog_detail.js"></script>
 </body>
 </html>